body, html, #root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: flex-end; 
  box-sizing: border-box;
  overflow-y: auto; 
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  transition: background-image 0.1s ease-in-out;
  scroll-behavior: smooth;
  z-index: 1; 
}

.app-container::-webkit-scrollbar {
  display: none; 
}

.search-container {
  position: fixed;
  top: 115px;
  width: 18%;
  height: 3%;
  z-index: 10;
  min-width: 130px;
}

.search-bar {
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px 15px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: opacity 0.5s, background-color 0.9s, box-shadow 0.5s;
  font-family: 'Outfit', sans-serif;
  opacity: 1;
  pointer-events: auto;
  color: white;
  background-color: rgba(47, 47, 48, 0.578);
  user-select: none;
  font-size: clamp(16px, 2vw, 18px);
}

.search-bar::placeholder {
  color: #f3eaea; /* Gray */
}

.search-bar.active {
  background-color: rgba(35, 35, 36, 0.692);
  border: 3px solid #3b82f6;
  animation: borderCycle 2s ease-in-out infinite;
}

.search-bar:focus {
  outline: none;
  border: 3px solid #3b82f6;
  animation: borderPulse 2s ease-in-out infinite;
}

@keyframes borderCycle {
  0%, 100% { border-color: #3bc1f6; }
  25% { border-color: #5c78f6; }
  50% { border-color: #9242ee; }
  75% { border-color: #567dff; }
}



.right-aligned-list {
  list-style: none;
  padding-top: clamp(120px, 20vh, 150px);
  padding-bottom: clamp(50px, 20vh, 300px);
  z-index: 2; 
  display: flex; 
  flex-direction: column; 
  align-items: flex-end;
  width: 45%;
}
/* Update the client wrapper */
.client-wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Include padding/borders in width */
}

.no-jobs-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  background: rgba(226, 219, 219, 0.445);
  border-radius: 8px;
  max-width: 80%;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.no-jobs-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #4caf50;
}