.calendar-container {
    font-family: Inter;
    position: fixed;
    right: 100px;
    left: 50px;
    top: 180px; /* Adjust this value based on your layout */
    width: 25vw;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(40, 40, 43, 0.374);
    color: white;
    border-radius: 10px;
    transition: box-shadow 0.5s, background-color 0.5s;
    z-index: 5;
    min-width: 420px;
    max-width: 600px;
    min-height: 300px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
    z-index: 0;
    font-size: .8em; /* Default font-size for larger screens */
    flex-shrink: 5;
  }

  
  .calendar-container h2 {
    margin: 0;
    padding: 5px ;
    font-size: 1.5em;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 05px;
    width: 100%; /* Ensures the grid fills the container's width */
    height: auto; /* Lets the height adjust dynamically */
  }
  
  .calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-size: clamp(0.3em, 2vw, 1em); /* Font will be between 0.6em and 1em, scaling with the screen size */
    background-color: rgba(178, 178, 178, 0.311);
    backdrop-filter: blur(20px);
    transition: transform 0.9s, box-shadow 0.5s; 

  }
  .calendar-weekday {
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  .calendar-day.paid {
    background-color: rgba(50, 243, 50, 0.639);
    box-shadow: 0px 0px 10px green;
    transform: scale(1.1);
  }
  
  .calendar-day.not-paid {
    background-color: rgba(247, 28, 28, 0.584);
    box-shadow: 0px 0px 10px red;
    transform: scale(1.1);
  }
  
  .calendar-day .date {
    font-size: 1.5em;
    
  }
  
  .calendar-day.previous-month {
    color: rgb(223, 223, 223);
    font-weight: 200;
    
  }

  .calendar-day.empty {
    background-color: rgba(178, 178, 178, 0);
    backdrop-filter: blur(0px);
  }

  