.payment-method-pill i.fa-arrow-down {
  color: #f53737;
}

.payment-method-pill i.fa-arrow-up {
  color: #59db61
}

.adjustment-notes {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  padding: 3px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  resize: none; 
  min-height: 35px;
  overflow: hidden; 
  box-sizing: border-box;
}

.adjustment-notes:focus {
  outline: none;
  border: 1px solid rgba(215, 215, 215, 0.1);
}

.adjustment-notes::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
} 

.optional-text {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 0.4rem;
}