.note-type-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px 60px;
}

.note-type-btn i {
    font-size: 2rem;
}

.property-note-btn i {
    color: #c2433cd7;
}

.schedule-note-btn i {
    color: #ca94e9d9;
}
