.notes-section {
  position: absolute;
  top: 250px;
  left: 100px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.note-card { 
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
  width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #faf7e6;
  overflow: hidden;
  transition: transform 0.1s ease-in-out, width 0.3s ease, height 0.3s ease;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
  background: rgba(0,0,0,0.7);
  color: white;
}

.note-header span i {
  margin-right: 6px;
}

.note-card.property .note-header {
  background: #c2433cd7;
  border: 1px solid #b90a01d4;
}

.note-card.schedule .note-header {
  background: #c481d4;
  border: 1px solid #7a4b81d4;
}

.note-edit-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.7em;
}

.note-edit-btn:hover {
  opacity: 0.8;
}

.note-content {
  padding: 6px 0.75rem;
  flex-grow: 1;
  font-family: "Outfit", sans-serif;
}

.note-content h1 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.3rem 0;
  color: #333;
}
v
.note-content p {
  font-size: 0.9rem;
  color: #555;            
  margin: 0;
  line-height: 1.4;
}

@media (max-width: 850px) {
  .notes-section {
    flex-direction: column;
    margin: 1rem;
  }

  .note-card {
    max-width: 400px;
  }
}
