/* Adjust the size of just the PaymentModal*/
.payment-modal-container {
  width: 320px;
}

.payment-property-info,
.payment-client-info {
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.payment-client-info {
  padding-top: 0;
}

.payment-property-info i {
  color: #fc574ed4;
  font-size: 16px;
  width: 20px;
  text-align: center;
}

.payment-client-info i {
  color: #64b5f6;
  font-size: 16px;
  width: 20px;
  text-align: center;
}

.payment-property-info span,
.payment-client-info span {
  color: white;
  font-size: 0.9rem;
}

.payment-amount-container {
  padding: 0.4rem 0.8rem;
  border-bottom: none;
}

.payment-amount-input-container {
  position: relative;
}

.dollar-sign {
  position: absolute;
  left: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
}

.payment-amount-input-container input {
  width: 100%;
  padding: 0.4rem 0.6rem 0.4rem 1.4rem;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.07);
  transition: all 0.2s ease;
}

.payment-amount-input-container input:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

.payment-amount-input-container input:focus {
  border-color: #90CAF9;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}

.payment-method-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 0 0.8rem;
}

.payment-method-pill {
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  cursor: pointer;
  color: #f0f0f0;
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.payment-method-pill:hover {
  border-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.payment-method-pill.active {
  background-color: #6f97b963;
  border-color: #90CAF9;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}

.payment-method-pill i.fa-money-bill {
  color: #4CAF50;
}

.payment-method-pill i.fa-credit-card {
  color: #2196F3;
}

.payment-method-pill i.fa-money-check-dollar {
  color: #FFC107;
}

.payment-method-pill i.fa-money-bill-transfer {
  color: #8c4be1
}

.clear-amount-btn {
  position: absolute;
  left: -27px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  color: #999;
  transition: all 0.2s ease;
}