
.sortable-job-wrapper {
  position: relative;
  z-index: 1;
  transition: z-index 0s;
  width: 100%;
}

.sortable-job-wrapper.dragging {
  z-index: 9000;
}

.sortable-job-wrapper.at-boundary {
  box-shadow: 0 0 0 2px red !important;
}