.progress-bar {
    width: 20%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
  }
  
  .progress-bar-fill {
    height: 20px;
    background-color: #1083d5e9;
    width: 0%;
    transition: width .5s ease;
  }
  
  .progress-bar-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
  }